<div class = "profile container">
  <div class = row>
    <div class = "col-sm">
      <p id="notice"><%= notice %></p>
      
      <p class = "text-center mt-5 mb-5">
        <img src="..." alt="..." class="rounded"><br>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>

      <ul class = "nav d-block profile-nav">
        <li class = "nav-item border-bottom">
          <%= link_to projects_path do %>
            All My projects
          <% end %>
        </li>

        <li class = "nav-item border-bottom">
          <%= link_to external_projects_path do %>        
            All External projects
          <% end %>
        </li>
        <li class = "nav-item">All Groups</li>
      </ul>
    </div>
  </div>
</div>
