<div class = row>
  <div class = "col-sm">
    <p id="notice"><%= notice %></p>
    
    <p class = "text-center mt-5 mb-5">
      <img src="..." alt="..." class="rounded"><br>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <ul class = "nav d-block profile-nav">
      <li class = "nav-item border-bottom">All My projects</li>

      <li class = "nav-item border-bottom">All External projects</li>
      <li class = "nav-item">All Groups</li>
    </ul>
  </div>
</div>
